.pageTitle {
    border-bottom: 0.3px solid #C8C8C8;
    margin-bottom: 50px;
}
.iconeEdicao {
    font-size: 23px;
}
.iconeExclusao{
    color:red;
    font-size: 23px;
}
.capitalize {
    text-transform: capitalize;
}
.back-icon {
    margin: 50vh 0 0 45%;
    font-size: 30px;
}
#voltar{
    display: block;
    color:#d8d8d8
}
#voltar:hover{
    background-color: #bfbdbd;
    color:black;
}
.full-screen-size {
    height: 91vh;
}
.over {
    background-color: #bfbdbd;
    color:black;
}
input,select,.table{
    box-shadow: 5px 5px 5px #888888;
}
input:focus{
    box-shadow: 15px 15px 10px #888888;
}
.form-control:focus{
    box-shadow: 15px 15px 15px #888888
}

@media screen and (min-height: 760px) {
    .full-screen-size {
        height: 94vh;
    }
}
@media screen and (max-width: 412px){
    #voltar{
        display: none;
    }
}